/* work sans google font */
/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}



/* header styles */
.main-header{
    background-color:rgba(255, 144, 14, 0.10);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.nav-title{
    font-weight: 700;
    font-size: 3rem;
    margin: 50px 220px;
}

.nav-anchors{
    display: flex;
}

.nav-anchors li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
}

.nav-anchors a{
    text-decoration: none;
    color: #424242;
}

.header-text{
    width: 40%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.ex-btn{
    margin: 50px;
}

.header-img{
    text-align: center;
    padding: 0 0 50px 0;
}

.header-img img{
    width: 70%;
}


/* feature area styles */
.images-grid{
    display: flex;
    flex-direction: column;
}

.feature-area-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto 0 auto;
}


.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


.feature-content{
    width: 45%;
    padding: 70px;
}

.feature-h1{
    font-size: 45px;
    margin-bottom: 30px;
}

.ql{
    color: #727272;
}

.of{
    color: #131313;
}

.fe{
    color: #FF900E;
}

.feature-btn{
    margin-top: 30px;
}

.var-feature-area-container{
    width: 80%;
    margin: 100px auto 100px auto;
    display: flex;
}


.var-feature-title{
    font-size: 45px;
    border-left: 10px solid orangered;
    padding-left: 20px;
    margin-bottom: 30px;
}

.features-container-small{
    margin: 30px;
    padding: 30px;
}

.each-feature{
    margin: 30px;
}

.var-feature-img img{
    width: 90%;
    margin-left: 3rem;
}

.ten-badge{
    background-color: orangered;
    color: white;
    width: 50%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 4rem;

}

.ten-badge h2{
    font-size: 45px;
}

.ten-badge p{
    font-size: 22px;
}

/* Facts area styles */

.facts-content{
    margin: 0 0 100px 16%;
}

.facts-cards-container{
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.facts-card{
    margin-right: 8%;
    text-align: center;
    padding: 25px;
    border: 2px solid rgba(255, 128, 0, 0.279);
    width: 105px;
    height: 100px;
}

/* sponsors area styles */
.sponsors-text{
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

/* footer area styles */
.footer{
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}










@media screen and (max-width:576px) {
    *{
        margin: 0px;
    }
    .navbar{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .nav-title{
        /* margin: 10px 0px 25px 30px; */
        font-size: 2rem;
    }
    .btn-primary{
        margin: 20px 0px;
    }
    .header-img img{
        width: 90%;
    }
    .feature-area-container{
        flex-direction: column;
    }
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-content{
        width: 100%;
    }
    .var-feature-area-container{
        display: flex;
        flex-direction: column;
    }
    .each-feature{
        margin: 20px 0 20px 0;
    }
    .var-feature-img{
        text-align: center;
    }
    .var-feature-img img{
        width: 90%;
        margin-left: 0px;
    }
    .ten-badge{
        padding: 0px;
        position: static;
    }
    .facts-cards-container{
        flex-direction: column;
    }
    .facts-card{
        margin-bottom: 50px;
    }
    .sponsors-text{
        margin: 0 auto 50px auto;
    }
    .sponsors-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsors-img img{
        width: 50%;
        margin-bottom: 50px;
    }
    .footer{
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .main-header{
        padding: 50px;
    }
    .navbar{
        flex-direction: column;
    }
    .feature-area-container{
        flex-direction: column;
    }
    .feature-content{
        width: 100%;
    }
    .var-feature-area-container{
        display: flex;
        flex-direction: column;
    }
    .facts-cards-container{
        flex-direction: column;
    }
    .facts-cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .facts-card{
        margin-left: 100px;
    }
    .sponsors-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsors-img img{
        width: 30%;
        margin-bottom: 50px;
    }
}